$secondary: #413c58;
$enable-shadows: false;
$enable-gradients: false;
$primary: #467599;
$danger: #c3423f;
$warning: #fea82f;
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
